# URL de la API (Backend)
# Local: http://localhost:8000
# Producción: https://tu-app-en-cloud-run.a.run.app

VITE_API_URL=http://localhost:8000

# Configuración del Backend (Puerto 8000)
# Copia esto a un archivo .env si usas Docker o cárgalo en tu sistema
APP_PASSWORD=admin123
DATABASE_URL=sqlite:///./quiz_master.db
min123
